@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* #home{
  background: #000000 radial-gradient(#ffffff33 1px, #000000 1px);
  background-size:50px 50px ; 
  background: repeating-linear-gradient(
    135deg,
    #ff6f61,
    #ff6f61 10px,
    #ff7f61 10px,
    #ff7f61 20px
  );
} */

.partition{
  width: 100%;
  height: 100px;
  display: block;
}

.name {
  line-height: 1;
  font-weight: 800;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}



.homee {
  position: relative;
  z-index: 0;
  /* margin: 20px; */
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #1a232a;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
      transparent,
      rgb(88, 205, 231),
      transparent 25%
    );
    
    animation: rotate 3s linear infinite,fadein 3s linear forwards 3s;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #000;
    border-radius: 5px;
  }
}

.typing {
  /* border-right: .15em solid black; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  animation: type 2s steps(50, end), blink 0.5s step-end infinite alternate,
    fadeIn 5s;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: rgb(253, 253, 253);
  }
}
.para {
  opacity: 0;
  animation: fadeIn 5s forwards;
  animation-delay:1000ms;
  text-align: center;
  font-size: 1.2rem;
  text-align: end;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.socialIcon{
  width: 30px;
  height: 30px;
}

.socialIcon:hover{
  transform: scale(1.05);
}

.socialIcon:active{
  transform: scale(0.95);
}


.skills{
  width: 50%;
  height: 82%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width:500px) {
  .skills{
    width: 100%;
  }
}
.skillLogo{
  width: 75px;
  /* height: 75px; */
  padding: 5px;
  transition: all 0.5s ease;
  margin: auto;
  background: #00000053;
  border-radius: 50%;
  overflow: visible;
}
.hover-div{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.hover-box,.hover-text {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Position the box above the element */
  /* left: 50%; */
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.hover-div:hover .hover-box {
  visibility: visible;
  opacity: 1;
}


.mover:hover .hover-text{
  visibility: visible;
  opacity: 1;
}

.abb{
  overflow-y: auto;
}

.circular-point{
background-color: #fff;

}

/* Lenis CSS */

html.lenis body {
  height: auto;
}

.lenis.lenis-smooth{
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped{
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.leftt:hover{
  transform: translateX(-10px);
}